auto
build
classes
docs

benchmarks/avrora/scratch/*
benchmarks/fop/scratch/*
benchmarks/jython/scratch/*
benchmarks/luindex/scratch/*
benchmarks/lusearch/scratch/*
benchmarks/pmd/scratch/*
benchmarks/tomcat/scratch/*
benchmarks/xalan/scratch/*
benchmarks/dacapo-9.12-MR1-bach.jar

test/*.class
log
